body {
    font-family: 'Source Sans 3','メイリオ',Meiryo,'ＭＳ Ｐゴシック','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro', 'verdana', 'Helvetica','Arial', 'sans-serif';
    position: static;
    padding: 0;
    margin: 0;
}
    

.img {
    /* Size Constraints */
    width: 270px;
    height: auto;
    max-width: 95%;
    max-height: 200px;
    margin: 2em;
    padding: 20px 28px;

    /* Background Styling */
    background: url(Images/UI/background.png) center/cover no-repeat;
    background-color: blue;
    /* Fallback color if the image is not available */

    /* Border Radius */
    border-radius: 5px;

    /* Box Shadow for Depth */
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.5), 4px 4px 25px rgba(62, 61, 61, 0.76);

    /* Flexbox for Centering Content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Grid for Layout */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 180px 1fr auto;

    /* Interaction */
    cursor: pointer;
    transition: max-width 0.4s ease-in-out, max-height 0.4s ease-in-out;
    z-index: 2;
    font-weight: bolder;
}

#videoarea {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

#video {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 177.77777778vh;
    height: 56.25vw;
    min-height: 100%;
    min-width: 100%;
}

#logo {
    margin-left: 50px;
    float: left;
    transform: translate(0, 50%);
}

#logo-image {
    width: 800px;
    align-self: center;
}

#end-header {
    bottom: 0;
    border: 10px solid black;
    padding: 10%
}