body {
    background: #191c29;
}

h1{
    font-variant: small-caps;
    color: aliceblue;
    font-size: 60px;
    text-shadow: 0 0 10px #4f4e4e, 0 0 20px #5e5d5d, 0 0 30px #171717, 0 0 30px #111111, 0 0 40px #141414, 0 0 50px #131313, 0 0 60px #171717;
    margin-bottom: 0px;
}

h3 {
    font-variant: small-caps;
    color: aliceblue;
    font-size: 30px;
    text-shadow: 0 0 10px #4f4e4e, 0 0 20px #5e5d5d, 0 0 30px #171717, 0 0 30px #111111, 0 0 40px #141414, 0 0 50px #131313, 0 0 60px #171717;
    margin-top: 0px;
}

.title {
    display: block;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: black 3px solid;
}

.icon-image {
    width: 100px;
}

.ragingbrachy {
    padding-left: 30px;
}
