h1 {
    text-align: center;
    color: rgb(197, 196, 196) !important;
}

td, th {
    text-align: center;
    color: rgb(197, 196, 196) !important;
    border: 1px solid #111828;
    padding: 8px;
}

body {
    background: #191c29;
}

table {
    font-family: arial, sans-serif;
    width: 50%;
    background-color: #202938;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    font-size: medium;
}

img {
    max-width: 250px;
    max-height: 250px;
}